<div id="container" data-container class="d-flex flex-column align-items-center">

  <form method="POST" action="/rovers/{{rover.id}}" name="findphoto">
    <div class="mb-3">
      <select name="camera" class="form-select" id="camera" aria-label="Default select example">
        <option>Выберите камеру марсохода</option>
        {{#each cameras}}
        <option data-id="{{this.id}}" class="category" value="{{this.title}}">{{this.title}}</option>
        {{/each}}
      </select>
    </div>

    <div class="mb-3">
      <input type="date" name="date" id="date" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Найти фото</button>
  </form>

  <hr>
  <div class="info">

    <p>FHAZ - Front Hazard Avoidance Camera</p>
    <p>RHAZ - Rear Hazard Avoidance Camera</p>
    <p>MAST - Mast Camera</p>
    <p>CHEMCAM - Chemistry and Camera Complex</p>
    <p>MAHLI - Mars Hand Lens Imager</p>
    <p>MARDI - Mars Descent Imager</p>
    <p>NAVCAM - Navigation Camera</p>
    <p>PANCAM - Panoramic Camera</p>
    <p>MINITES - Miniature Thermal Emission Spectrometer (Mini-TES)</p>
  </div>
  <hr>

</div>
