<nav class="navbar navbar-light" style="background-color: #08609e00;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #f5f5f5;" href="/">Mars Rover Photos</a>
  </div>
</nav>
